daemonize no

#slave would do rdb dump
#save 900 1
#save 300 10
#save 60 1000

rdbcompression yes                
rdbchecksum yes                 
dbfilename dump.rdb         
dir /Users/hliang/code/redis/redis-data/
stop-writes-on-bgsave-error yes

appendonly yes
appendfilename appendonly.aof
appendfsync everysec
no-appendfsync-on-rewrite yes
auto-aof-rewrite-percentage 100
auto-aof-rewrite-min-size 64mb

requirepass passwd
slave-priority 100
