# slave1
daemonize no
pidfile /Users/hliang/code/redis/redis-pid/redis6381.pid
port 6381
timeout 0
tcp-keepalive 0
loglevel notice
logfile stdout

# won't do rdb dump             
dbfilename dump6381.rdb         
dir /Users/hliang/code/redis/redis-data/


# master
slaveof localhost 6379

slave-serve-stale-data yes
slave-read-only yes
repl-disable-tcp-nodelay no
slave-priority 100

stop-writes-on-bgsave-error yes

# won't do aof
appendonly no
appendfilename appendonly.aof
appendfsync everysec
no-appendfsync-on-rewrite yes
auto-aof-rewrite-percentage 100
auto-aof-rewrite-min-size 32mb
 

